<div class="body component">
    <h3>Task List
        <p class="info">June 2019</p>
    </h3>
    <div class="todo">
        <div class="tasks">
            <header class="tasks-header">
                <h4>Add Task</h4>
            </header>
            <fieldset>
                <label class="tasks-list-item">
                    <input class="tasks-list-input">
                    <button>add </button>
                </label>
            </fieldset>
        </div>
        <div class="tasks">
            <header class="tasks-header">
                <h4>To Do</h4>
            </header>
            <fieldset>
                <label class="tasks-list-item">
                    <input type="checkbox" name="task_1" value="1" class="tasks-list-cb" check>
                    <span class="tasks-list-mark"></span>
                    <span class="tasks-list-desc">On your mark</span>
                    <span class="tasks-list-desc right">12:00 PM 12/06</span>
                </label>
                <label class="tasks-list-item">
                    <input type="checkbox" name="task_3" value="1" class="tasks-list-cb">
                    <span class="tasks-list-mark"></span>
                    <span class="tasks-list-desc">Go!</span>
                    <span class="tasks-list-desc right">12:00 PM 12/06</span>
                </label>
            </fieldset>
        </div>
        <div class="tasks">
            <header class="tasks-header">
                <h4>Completed</h4>
            </header>
            <fieldset>
                <label class="tasks-list-item">
                    <input type="checkbox" name="task_2" value="1" class="tasks-list-cb" checked readonly>
                    <span class="tasks-list-mark"></span>
                    <span class="tasks-list-desc">Get set</span>
                    <span class="tasks-list-desc right">12:00 PM 12/06</span>
                </label>
                <label class="tasks-list-item">
                    <input type="checkbox" name="task_2" value="1" class="tasks-list-cb" checked readonly>
                    <span class="tasks-list-mark"></span>
                    <span class="tasks-list-desc">Get set</span>
                    <span class="tasks-list-desc right">12:00 PM 12/06</span>
                </label>
            </fieldset>
        </div>
    </div>
</div>