.body {
    margin: 0 1em;
    background: #fff;
    padding: 1em;

    h3 {
        margin: 0;
        text-align: center;
        position: relative;

        p {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}

.info {
    margin: 0;
    color: #666;
    margin-top: 5px;
    font-size: .9rem;
}

.report {
    margin-top: 10px;
    background: #fbfbfb;
    padding: 10px;

    p {
        margin-top: 0;
        margin-bottom: 10px;
        font-weight: bold;
        color: #9b8a8a;
        display: flex;

        &:last-child {
            margin: 0;
        }

        span {
            display: inline-block;
            margin: 2px 5px;
            min-width: 40%;
            text-align: center;

            &:first-child {
                min-width: 21%;
                text-align: right;
            }

            &:last-child {
                text-align: right;
                min-width: 31%;
            }
        }
    }

    .focus {
        font-size: 1.1em;
        color: #333;
        border-top: 1px solid #ddd;
        padding-top: 5px;

        span {
            color: crimson;
        }
    }
}