section {
    max-width: 600px;
    width: 90%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 7vh 0;

    h3 {
        margin-top: 0;
        font-size: 1.6em;
        text-align: center;
        text-transform: uppercase;
    }

    form {
        max-width: 500px;
        margin: 0 auto;
    }

}


fieldset {
    width: 90%;
    margin: 0 auto;

    label {
        margin-bottom: 2px;
        display: block;
        font-size: .9rem
    }

    input {
        width: 98%;
        padding: 1%;
        letter-spacing: .1rem;
        border: none;
        border-bottom: 1px solid #ccc;
        background: rgba(243, 243, 243, 0.54);
    }

    div {
        p {
            margin: 5px 0 30px;
        }
    }
}

.forms_field {
    width: 100%;
    position: relative;
    padding-bottom: 20px;
}

.forms_buttons {
    text-align: center;

    button {
        background: crimson;
        padding: 8px 28px;
        border: none;
        color: #fff;
        font-size: 1rem;
        text-decoration: none;
        position: relative;
        cursor: pointer;

        &.disabled {
            opacity: 0.7;
        }
    }
}

.failed {
    font-weight: 600;
    font-size: .8rem;
    color: crimson;
    margin: 10px 0 0;
    display: block;
    text-align: right;
}

.invalid_feedback {
    color: #fff;
    font-size: .8rem;
    background: crimson;
    display: inline-block;
    padding: 3px 5px;
}

.loading {
    position: absolute;
    top: 0px;
    right: 0px;
    background: crimson;
    width: 100%;
    height: 25px;
    text-align: center;
    padding-top: 7px;

    span {
        display: inline-block;
        height: 8px;
        width: 8px;
        background: #fff;
        border-radius: 0px;

        &:nth-child(1) {
            border-radius: 0;
            background-clip: padding-box;
            border-radius: 500px;
            animation: scale 1s 0.1s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }

        &:nth-child(2) {
            border-radius: 0;
            background-clip: padding-box;
            border-radius: 500px;
            animation: scale 1s 0.2s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }

        &:nth-child(3) {
            border-radius: 0;
            background-clip: padding-box;
            border-radius: 500px;
            animation: scale 1s 0.3s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }

        &:nth-child(4) {
            border-radius: 0;
            background-clip: padding-box;
            border-radius: 500px;
            animation: scale 1s 0.4s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }

        &:nth-child(5) {
            border-radius: 0;
            background-clip: padding-box;
            border-radius: 500px;
            animation: scale 1s 0.5s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }
    }
}

@keyframes scale {
    0% {
        transform: scale(0);
    }

    25% {
        transform: scale(0.9, 0.9);
        background: #ffd1d1;
    }

    50% {
        transform: scale(1, 1);
        margin: 0 3px;
        background: rgb(255, 255, 255);
    }

    100% {
        transform: scale(0);
    }
}