<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-07-26 10:25:05
 * @LastEditTime: 2019-09-19 12:31:56
 * @LastEditors: Please set LastEditors
 -->
<section class="content">
    <div class="top">
        <div class="component">
            <h3>PageView: </h3>
            <h3>1523</h3>
        </div>
        <div class="component">
            <h3>Membership: {{memberQty}} </h3>
            <h3>( <span>{{memberTodayQty}}</span> )</h3>
        </div>
        <div class="component">
            <h3>Orders: {{ordersQty}}</h3>
            <h3>( <span>{{ordersTodayQty}}</span> )</h3>
        </div>
        <div class="flex component">
            <div>
                <h3>Facebook</h3>
                <h3>2299</h3>
            </div>
            <div>
                <h3>Instagram</h3>
                <h3>999</h3>
            </div>
        </div>
    </div>
    <div class="grid">
        <app-stock></app-stock>
        <app-sales-report></app-sales-report>
        <app-task></app-task>
    </div>
</section>